doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet' href='/dist.styles.css')
        title I'm a title

    body.antialiased

        #app.l-app

            block header
                include ../includes/_header

            block content

            block footer
                include ../includes/_footer

    script(src="https://unpkg.com/vue@next")
    script(src="/dist.bundle.js")