.flex()

    button(
        class="g-btn  m-2"
        v-for="clr in ['default', 'primary', 'secondary', 'tertiary']"
        :class="[ (clr !== '') ? 'g-btn--c_' + clr : '' ]"
        ) {{ clr }} button


.flex

    button(
        class="g-btn g-btn--c_default  m-2"
        v-for="size in ['', 'sm', 'lg']"
        :class="[ (size !== '') ? 'g-btn--s_' + size : '' ]"
        ) {{ size }} button
