@layer components {

    .g-btn {
        @apply px-5 py-3;

        &--c_default {
            @apply font-bold;
            @apply bg-gray-200 text-black rounded;
        }

        &--c_primary {
            @apply font-bold;
            @apply bg-black text-white rounded;
        }

        &--c_secondary {
            @apply font-bold;
            @apply bg-black text-white rounded;
        }

        &--c_tertiary {
            @apply font-bold;
            @apply bg-black text-white rounded;
        }


        &--s_lg {
            @apply px-5 py-3;
        }

        &--s_sm {
            @apply px-5 py-3;
        }

    }

}