@layer components {

    .g-title {
        @apply mb-4;

        &--s_xxl {
            @apply text-5xl;
            @apply font-bold;
        }

        &--s_xl {
            @apply text-2xl;
            @apply font-bold;
        }

        &--s_lg {
            @apply text-xl;
            @apply font-bold;
        }

        &--s_md {
            @apply text-lg;
            @apply font-bold;
        }

        &--s_sm {
            @apply text-base;
            @apply font-bold;
        }
    }

}