extends ./layout/_default

block content

    section.o-block.container.mx-auto

        .cms-contentWrapper

            h2.g-title.g-title--s_xxl Centered container

            p(v-for="item in getLoremPara()") {{ item }}


            h3.g-title.g-title--s_lg Main resources

            ul
                li: a(href="https://tailwindcss.com/") Tailwindcss

            h3.g-title.g-title--s_lg Extra resources

            ul
                li: a(href="https://tailwindcomponents.com/") Tailwind components


            h3.g-title.g-title--s_lg SVG example

            .flex
                svg.w-20.mr-5(v-for="icn in ['i-elephant','i-bouquet','i-wash-hands','i-stay-home','i-virus','i-reading','i-mario-mushroom']")
                    use(v-bind:xlink:href="'./dist.icons.svg#' + icn")


            h3.g-title.g-title--s_lg Default styles

            p Only HTML elements within a #[code.h_code .cms-contentWrapper] will get default styling.

            p(v-for="item in getLoremPara()") {{ item }}


            h4.g-title.g-title--s_md Lists

            ul: li(v-for="n in 5") Lorem ipsum dolor sit amet, consectetur.

            ol: li(v-for="n in 5") Lorem ipsum dolor, adipisicing.


            h3.g-title.g-title--s_lg Components

            include ../components/1_general/_button


    section.o-block

        h2.g-title.g-title--s_xxl Full width container

        p(v-for="item in getLoremPara(3)") {{ item }}